<div id=listscroll>
  <ul>
    <% term.forEach(function(term) { %>
      <p id="termtitle"><a href='/show/<%= term._id %>'><%= term.term %></a></p>
      <p id="summary"><%= term.summary %></p>
    <% }) %>
  </ul>
</div>
