<div class="container">
  <div class="col-md-3"></div>
    <div class="col-md-6">
      <div id="search-and-filter">
        <form class="form-inline" action="/index" method="post">
          <div class="form-group">
            <input type="text" class="form-control" id="search" placeholder="search e.g. Ruby">
          </div>
          <div class="form-group">
            <select class="select" id="tag" name="tag">
              <option hidden>filter</option>
              <option value="language">Language</option>
              <option value="framework">Framework</option>
              <option value="package">Package</option>
              <option value="tool">Tool</option>
              <div class="select__arrow"></div>
            </select>
          </div>
        </form>
      </div>
    </div>
</div>

<div id=listscroll>
    <ul>
        <% term.forEach(function(term) { %>
            <p id="termtitle">
                <a href='/show/<%= term._id %>' class="showPage">
                    <%= term.term %>
                </a>
            </p>
            <p id="summary">
                <%= term.summary %>
            </p>
            <% }) %>
    </ul>
</div>
