
<body id="show-page">
  <div class='jumbotron'>
    <div class='row'>
      <div class='col-md-12'>
        <h2 class = "term-title"><%= term.term %></h2>
        <p class="short-def"><%= term.shortDefinition %></p>
        <a href="#">Add definition</a>
      </div>
    </div>
  </div>

  <div class='container'>
    <div class='row'>
      <div class='col-md-4'>
        <div class='definitions'>
          <p class="long-def"><%= term.definition %></p>
          <a href="<%= term.source %>">Source</a>
        </div>
      </div>
    </div>
  </div>

</body>
