.navbar {
  background-color: #FFFFFF;
  min-height: 82px;
  padding-top: 16px;
  border-style: none;
}

.navbar-brand {
  font-family: 'Fjalla One', sans-serif;
  font-size: 30px;
  color: #1c1b1b !important;
  margin-left: 10px !important;
}

.navbar-right {
  font-family: 'Fjalla One', sans-serif;
  font-size: 24px;
  color: #1c1b1b !important;
  margin-right: 10px;
  padding-top: 10px;
}
