.pagination li a{
    position: float;
    float: center;
    padding: 2px 6px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: black;
    text-decoration: none;
    background-color: none;
    border: none;
    font-size: 15px;
}

.pagination li a:active{
  color: black;
  text-decoration: underline;
}
.pagination li a:focus{
  color: black;
  text-decoration: underline;
}
.pagination li a:hover{
  color: black;
  text-decoration: underline;
}

.disabled .paginationLinks{
  color: #D0D0D0 ;
  font-size: 15px;
  font-weight: 100;
}
