#search-and-filter {
  /*align-items: center;
  display: inline-block;*/
}

#search {
  border: 0;
  border width: 0 0 2px 0;
  border-radius: 0px;
  width:106px;
  outline: 0;
  padding: 0;
  background: transparent;
  border-bottom: solid grey;
  box-shadow: inset 0px 0px 0px 0px;
  font-size: 1.5em;
}

#tag {
  -webkit-appearance: none;
  padding: 0px !important;
  border: 0px;
  border-bottom: 3px solid grey;
  border-radius: 0px !important;
  outline: 0;
  background: transparent;
  box-shadow: inset 0px 0px 0px 0px;
  font-size: 1.5em;
}

.select__arrow {
  position: absolute;
  top: 16px;
  right: 15px;
  width: 0;
  height: 0;
  pointer-events: none;
  border-style: solid;
  border-width: 8px 5px 0 5px;
  border-color: #7b7b7b transparent transparent transparent;
}
.select select:hover ~ .select__arrow,
.select select:focus ~ .select__arrow {
  border-top-color: #000;
}
.select select:disabled ~ .select__arrow {
  border-top-color: #ccc;
}
