#search-bar {
  align-items: center;
  display: inline;
}

#search {
  -webkit-appearance: none;
  border: 0;
  border width: 0 0 2px 0;
  border-radius: 0px;
  width: 180px;
  outline: 0;
  padding: 0;
  background: transparent;
  border-bottom: 1px solid;
  border-color: #3a3a3a;
  box-shadow: inset 0px 0px 0px 0px;
  font-size: 1em;
  font-family: 'Roboto Mono';
  font-weight: bold;
  padding-left: 5px;
  color: #3a3a3a;
  cursor: pointer;
  display: inline;
}

#filter-id {
  pointer-events: none;
}

.form-group {
  font-family: 'Roboto Mono';
}
.form-inline {
  z-index: 1;
}

::-webkit-input-placeholder { /* Chrome */
  color: #474747!important;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #474747!important;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #474747!important;
  opacity: 1;
}
:-moz-placeholder { /* Firefox 4 - 18 */
  color: #474747!important;
  opacity: 1;
}

.form-inline {
  display: inline;
}

.form-control::-webkit-input-placeholder { color: #9d9d9d; }
.form-control:-moz-placeholder { color: #9d9d9d; }
.form-control::-moz-placeholder { color: #9d9d9d; }
.form-control:-ms-input-placeholder { color: #9d9d9d; }

a.clear-filter {
  text-align: center;
  display: block;
  position: relative;
  left: 142px;
  font-size: 11px;
  margin-top: 10px;
}

.fa-undo, .fa-search {
  margin-right: 5px;
}

.fa-filter {
  margin-left: 185px;
  pointer-events: none !important;
  cursor: none !important;
}

.form-group {
  color: #3a3a3a;
}

.select__arrow {
  position: absolute;
  top: 16px;
  right: 15px;
  width: 0;
  height: 0;
  pointer-events: none;
  border-style: solid;
  border-width: 8px 5px 0 5px;
  border-color: #7b7b7b transparent transparent transparent;
}
.select select:hover ~ .select__arrow,
.select select:focus ~ .select__arrow {
  border-top-color: #000;
}
.select select:disabled ~ .select__arrow {
  border-top-color: #ccc;
}

.wrapper-dropdown {
 /*size and position*/
 position: absolute;
 width: 180px;
 margin: 0 auto;
 margin-top: -6px;
 padding: 6.5px !important;
 display: inline;
 z-index: 1;

 /*styles*/
 background: transparent;
 font-size: 1em;
 cursor: pointer;
 outline: none;
 border-bottom: 1px solid;
}

.filter-placeholder {
  float: left;
  font-weight: bold;
}

.wrapper-dropdown .dropdown {
 /*size and position*/
 position: absolute;
 top: 100%;
 right: 0px;
 height: 230px;
 overflow-y: scroll;
 width: 180px;
 margin-top: 1px;
 /*overflow-x: hidden;*/

 /*styles*/
 background-color: white;
 transition: all 0.3s ease-out;
 list-style: none;

 /*hiding*/
 opacity: 0;
 pointer-events: none;
}

.wrapper-dropdown .dropdown li {
 display: block;
 text-decoration: none;
 border-left: 5px solid;
 padding: 10px;
 transition: all 0.3s ease-out;
 border-left-color: grey;
}

.wrapper-dropdown .dropdown li:hover {
 color: dark grey;
}

.wrapper-dropdown.active:after {
 border-width: 0 6px 6px 6px;
}

.wrapper-dropdown.active .dropdown {
 opacity: 1;
 pointer-events: auto;
}
