#show-page {
  background: #FFFFFF;
  overflow-x: hidden;
}

.source {
  font-family: 'Roboto Mono', sans-serif;
  text-decoration: underline;
  text-align: center;
  font-weight: 400 !important;
}

.term-title {
  font-family: 'Roboto Mono', sans-serif;
  font-weight: 400;
  font-size: 3em;
}

.short-def {
  font-family: 'Roboto Mono', sans-serif;
}

.long-def-beginning {
  font-weight: 700;
}

.panel-body {
  border: none;
}

.definitions {
  border-color: none;
  color: black;
  background: #fff;
  border-radius: 1em;
  margin: 2em;
  font-size: 1.35em;
  text-align: center;
  text-justify: inter-word;
  overflow-wrap: break-word;
}

.buttons {
  display: inline-block;
}

.tag-button {
  background: none !important;
  color: white !important;
  display: inline;
  font-weight: 100;
  margin-bottom: 10px;
  margin-top: 10px;
  border-width: 3px;
  border-color: rgba(255, 255, 255, 0.8);
  font-weight: bold;
}

.tag-button:focus,
.tag-button:active,
.tag-button:hover {
  border-color: black;
  color: black !important;
}

.jumbotron {
  text-align: center;
  color: #ffffff;
}

.jumbotron a {
  color: #fff;
  font-weight: bolder;
  font-size: 1.3em;
}

.vote {
  text-align: center;
  margin-bottom: 1em;
  color: #bgcolour;
}

.downvote, .upvote, .rating {
  background: transparent;
  display: inline !important;
}

.add-definition-link {
  cursor: default;
  padding-top: 15px;
}

.panel-footer {
  background-color: grey;
  height: 30px;
  padding: 1.5em;
  padding-top: 0em;
  padding-bottom: 0.5em;
  border-bottom-left-radius: 0.7vw;
  border-bottom-right-radius: 0.7vw;
}

.add-definition-link:hover {
  color: black;
}

.term-header {
  padding-bottom: 18px;
}

#back-button {
  font-family: 'Roboto Mono';
  font-weight: lighter;
  float: left;
  margin-left: 26px;
  margin-top: -24px;
}

#back-button:focus,
#back-button:active,
#back-button:hover {
  border-color: black;
  color: black !important;
}

.back-arrow {
  margin-left: 15px;
}
