#show-page {
  background: #FFFFFF;

}

.source {
  color: #888;
  font-family: 'Raleway', sans-serif;
  text-decoration: underline;
  float:left;
}
.term-title {
  font-family: 'Roboto', sans-serif;
  font-weight: bolder;

}

.short-def {
  font-family: 'Raleway', sans-serif;

}

.definitions {
  border-style: solid;
  border-width: 5px;
  border-color: #7c4dff;
  padding: 2em;
  color:#888;
  background: #fff;
  border-radius: 1vw;
  margin: 1em;
  overflow-wrap: break-word;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.jumbotron {
  text-align: center;
  background: #7c4dff;
  color: #fff;
}

.jumbotron a {
  color:#fff;
  font-weight: bolder;
  font-size: 1.3em;
}

.vote{
  text-align: right;
  margin-bottom: 1em;
  color: #7c4dff;
  float: right;
}

.downvote, .upvote, .rating{
  background: transparent;
  display: inline !important;
}

.add-definition-link {
  cursor: default;

}

.vote-source {
  background-color: #7c4dff;
  height: 30px;
}

.add-definition-link:hover {
  color: black;
}

.term-header {
  padding-bottom: 18px;
}
