#show-page {
    background: #FFFFFF;
}

.source {
    font-family: 'Roboto Mono', sans-serif;
    text-decoration: underline;
    text-align: center;
    font-weight: 400 !important;
}

.term-title {
    font-family: 'Roboto Mono', sans-serif;
    font-weight: 400;
    font-size: 3em;
}

.short-def {
    font-family: 'Roboto Mono', sans-serif;
}

.long-def-beginning {
    font-weight: 700;
}

.panel-body {
    border: none;
}

.definitions {
    /*border-style: solid;*/
    /*border-width: 3px;*/
    border-color: none;
    /*padding: 2em;*/
    color: black;
    background: #fff;
    border-radius: 1em;
    margin: 2em;
    font-size: 1.6em;
    text-align: center;
    text-justify: inter-word;
    overflow-wrap: break-word;
    /*box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);*/
}
.buttons {
  display: inline-block;
}
.tag-button {
  background: none !important;
  color: white !important;
  display: inline;
  font-weight: 100;
}

.tag-button:focus, .tag-button:active, .tag-button:active:focus {
outline: none;
}

.jumbotron {
    text-align: center;
    color: #fff;
}

.jumbotron a {
    color: #fff;
    font-weight: bolder;
    font-size: 1.3em;
}

.vote {
    text-align: center;
    margin-bottom: 1em;
    color: #bgcolour;
}

.downvote, .upvote, .rating {
    background: transparent;
    display: inline !important;
}

.add-definition-link {
    cursor: default;
}

.panel-footer {
    background-color: grey;
    height: 30px;
    padding: 1.5em;
    padding-top: 0em;
    padding-bottom: 0.5em;
    border-bottom-left-radius: 0.7vw;
    border-bottom-right-radius: 0.7vw;
}

.add-definition-link:hover {
    color: black;
}

.term-header {
    padding-bottom: 18px;
}

#back-button {
  font-family: 'Roboto Mono';
  font-weight: lighter;
  vertical-align: center;
}
