
a {
  cursor:pointer;
  outline: none!important;
}

symbol {
  overflow:visible;
}

use {
    z-index: 1;
}

text.term:hover {
  font-weight: 400;
  fill:black;
  opacity: 30%;
  stroke:none;
}

.wheel-container {
  display: inline-block;
  position: relative;
  width: 50%;
  padding-bottom: 60%;
  vertical-align: middle;
}

.item .sector {
  transition:all .1s linear;
  stroke:none;
  fill: #ffffff;
}

.shadow {
    -webkit-filter: drop-shadow( 0px -5px 10px #f5f4f4 );
            filter: drop-shadow( 0px -5px 10px #f5f4f4 ); /* Same syntax as box-shadow, except
                                                       for the spread property */
}

.menu-trigger {
  fill:grey;
  pointer-events:auto;
}

.menu-trigger:hover,.menu-trigger:focus {
  cursor:pointer;
}

.term {
  /*fill: #9c56b8;*/
  font-family: 'Roboto Mono', sans-serif;
  font-weight: 700;
}

.def {
  overflow: visible;
  font-family: 'Roboto Mono';
  font-weight: 200;
  fill: #474747;
}

#container-fluid {
    height: 2em;
    z-index: -1;
}

#wheel-page {
  overflow: hidden;
}

#wheel {
  display:block;
  margin:0 auto;
}

#svg-menu {
  display: block;
  position: absolute;
  bottom: 0;
  z-index: -1;
}

#itemsContainer {
  display:block;
  margin:0 auto;
}

#scroll {
  margin-top: 50vh;
  align: middle;
  font-size: 2em;
  color: black;
}

#scroll-button-left {
  position:relative;
  float: left;
  z-index: 1;
}
#scroll-button-right {
  position:relative;
  float: right;
  z-index: 1;
}
