.wheel-container {
  display: inline-block;
  position: relative;
  width: 50%;
  padding-bottom: 60%;
  vertical-align: middle;
}

#svg-menu {
  display: block;
  position: absolute;
  bottom: 0;
}

#wheel {
  display:block;
  margin:0 auto;
}

a {
  cursor:pointer;
  outline:none;
}

#wheel-page {
  overflow: hidden;
}

.item .sector {
  transition:all .1s linear;
  stroke:none;
}

.menu-trigger {
  fill:grey;
  pointer-events:auto;
}

.menu-trigger:hover,.menu-trigger:focus {
  cursor:pointer;
}

.term {
  fill: #9c56b8;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}

.def {
  overflow: visible;
  font-family: 'Raleway';
  font-weight: 200;
  fill: #474747;
}

text.term:hover {
  font-weight: 400;
  fill:black;
  opacity: 30%;
  stroke:none;
}

symbol {
  overflow:visible;
}

rect:focus {
    outline: none;
}

#itemsContainer {
  display:block;
  margin:0 auto;
}

#term-05 {
  fill: #9c56b8;
}
